
#biography-container{
    /* background-color: gray; */
    /* background: linear-gradient(rgb(33, 37, 41), lightgrey); */
}

#bio-img{
    width: 50%;
    height: auto;  
}


#bio-paragraph-div p, h2.h2{
    color: #fafafa
}

#bio-paragraph-div p{
    font-size:large;
}

#banner-bio-separator{
    background-color: rgb(33,37,41);
    height: 20px;
}

@media (max-width: 992px) {
    #bio-img-div{
        padding-bottom: 50px;
    }

  }